*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}
body{
    overflow-x: hidden;
}
nav{
    width: 100%;
    background-color: rgb(220, 120, 120);
    color: rgb(255, 230, 230);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    border-radius: 0.5rem;

}


nav ul{
    display: flex;
}

nav ul li{
    margin-right: 1.3rem;
}

p{
    background-color: rgb(255, 192, 203);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    line-height: 1.5;
    white-space: pre-line;
}

ol.goudamoko{
    background-color: rgb(255, 192, 203);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}

ol.goudamoko li{
    border: 1px solid #fff;
    border-radius: 0.5rem;
    list-style-position:inside;
    padding: 1rem 2rem;
    
}
.xinqu{
    background-color: rgb(255, 192, 203);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    
}

.xinqu ul{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    list-style: inside;

}
.xinqu ul li{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
}


.mokophotos {
    width: 100%;
}

img {
    width: 100%;
    height: auto;
    padding: 0.2rem 0.1rem;
}

div.calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
div.display {
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    text-align: right;
    padding: 0.5rem 1rem;
}

.invisible {
    opacity: 0;
}

div.calc button ,
div.calc span  {
    display:inline-block;
    width:4rem;
    height: 2rem;

}